*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0000;
}
body{
    background: linear-gradient(to right, #00093c, #2d0b00);
}
h2{
    font-size: 50px;
    margin-left: 20px;
    margin-top: 20px;
    color: #f44336;
}
p{
    margin-left: 20px;
    font-size: 100%;
    line-height: 30px;
    color: #fff;
}
body{
    background-color: #0000;
}
span{
    height: 100px;
}